<div class="row">
  <div class="col-xs-12">
    <img [src]="credential.imageUrl" [alt]="credential.description" class="image-response mh-300">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1> {{ credential.credentialName }} </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Credentials <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a (click)="addtoTodoList()"> Add to To-Do List </a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['edit']"> Edit Credentials</a></li>
        <li><a (click)="deleteCredential()"> Delete Credentials </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ credential.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of credential.taskList; let i = index"> {{i + 1}}) <strong>{{ task.taskName }}</strong>  to be done by <strong>{{ task.endDate | date:'medium' }}</strong> </li>
    </ul>
  </div>
</div>
