<div class="row">
  <div class="col-xs-12 col-md-6 col-offset-3">
    <form #authForm="ngForm" (submit)="submitAuthForm()">
      <div class="form-group">
        <label for="email">Email ID:</label>
        <input type="email" class="form-control" #email="ngModel" ngModel name="email" id="email" required email  />
        <span class="help-block error" *ngIf="email.invalid && email.touched">
          Please enter a valid email!
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" #password="ngModel" ngModel name="password" autocomplete id="password" minlength="6" required />
      </div>
      <span class="help-block error" *ngIf="password.invalid && password.touched">
        Please enter a valid password!
      </span>
      <div>
        <button class="btn btn-primary" [disabled]="authForm.invalid" type="submit"> {{ isLogin ? 'Login' : 'Sign up' }} </button>
        <button class="btn btn-primary ml-5" type="button" (click)="toggleLogin()"> Switch to {{ isLogin ? 'Sign up' : 'Login' }}  </button>
      </div>
    </form>
  </div>
</div>
