<app-error-alert *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-alert>
<div class="row">
  <div class="col-xs-12">
    <form #todoForm="ngForm" (submit)="submitForm(todoForm)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="taskname"> Task Name</label>
          <input type="text" #taskname="ngModel" ngModel name="taskname" id="taskname" class="form-control" required>
          <span *ngIf="!taskname.valid && taskname.touched" class="help-block error"> Please enter a valid task name! </span>
        </div>
        <div class="col-sm-5 form-group">
          <label for="taskenddate"> Task End Date </label>
          <input appMinDate type="date" #enddate="ngModel" ngModel name ="enddate" id="taskenddate" class="form-control" [attr.min]="today" required>
          <span *ngIf="enddate.invalid && enddate.touched" class="help-block error">
            Please enter valid date!
            <span *ngIf="enddate.errors?.['minDate']"> Date can't be less than today's! </span>
          </span>
        </div>
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="todoForm.invalid || todoForm.pristine"> {{ editConfig.editMode ? 'Update Task' : 'Add Task' }} </button>
          <button class="btn btn-danger ml-4" type="button" (click)="deleteTask()" *ngIf="editConfig.editMode"> Delete </button>
          <button class="btn btn-primary ml-4" type="button" (click)="clearForm()"> Clear Form </button>
        </div>
      </div>
    </form>
  </div>
</div>
