<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="credentialForm" (submit)="submitCredentialForm()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="credentialForm.invalid"> Save </button>
          <button type="button" class="btn btn-danger ml-5" [routerLink]="['../']"> Cancel </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="credentialname">Credential Name</label>
            <input formControlName="credentialName" type="text" class="form-control" id="credentialname">
            <span *ngIf="credentialForm.get('credentialName')?.invalid && credentialForm.get('credentialName')?.touched"
              class="help-block error">
              Please enter a valid credential name
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-path"> Image URL </label>
            <input formControlName="imageUrl" type="text" class="form-control" id="image-path" #imageUrl>
            <span *ngIf="credentialForm.get('imageUrl')?.invalid && credentialForm.get('imageUrl')?.touched"
              class="help-block error">
              Please enter a valid Image Url
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageUrl?.value" class="image-responsive">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description"> Description </label>
            <textarea formControlName="description" class="form-control" name="description" id="description"
              rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row" formArrayName="taskList">
        <div class="col-xs-12" *ngFor="let task of taskList; let i = index">
          <div class="row form-group" [formGroupName]="i">
            <div class="col-xs-8">
              <input formControlName="taskName" type="text" class="form-control">
              <span *ngIf="taskList[i].get('taskName')?.invalid && taskList[i].get('taskName')?.touched" class="help-block error">
                Please enter valid task name.
              </span>
            </div>
            <div class="col-xs-3">
              <input formControlName="endDate" type="date" class="form-control" #endDate>
              <span *ngIf="taskList[i].get('endDate')?.invalid && taskList[i].get('endDate')?.touched" class="help-block error">
                Invalid end date!
                <br>
                <span *ngIf="taskList[i].get('endDate')?.errors?.['minDate']">
                  Date entered is before today!
                </span>
              </span>
            </div>
            <div class="col-xs-1">
              <button class="btn btn-danger" type="button" (click)="deleteCredential(i)">Delete</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <button class="btn btn-success" (click)="onAddTask()" type="button">
            Add Task
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
