<div class="row">
  <div class="col-xs-12">
    <img src="https://picsum.photos/id/237/300/300" alt="Sample Image" class="image-response mh-300">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Credential Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Credentials <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li><a> Add to To-Do List </a></li>
        <li><a> Edit Credentials</a></li>
        <li><a> Delete Credentials </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Some Description Here
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"> Task to be done by 23rd october </li>
    </ul>
  </div>
</div>
