<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success"> Save </button>
          <button type="submit" class="btn btn-danger ml-5" [routerLink]="['../']"> Cancel </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="credentialname">Credential Name</label>
            <input type="text" class="form-control" id="credentialname">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-path"> Image URL </label>
            <input type="text" class="form-control" id="image-path">
            <span class="help-block error">
              Image Path is Mandatory
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="https://picsum.photos/id/237/300/300" alt="Test Image" class="image-responsive">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description"> Description </label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row form-group">
            <div class="col-xs-8">
              <input type="text" class="form-control">
            </div>
            <div class="col-xs-2">
              <input type="date" class="form-control">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-success" type="button">Add Task</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
